.body {
  width: auto;
  height: 95vh;
  background-color: var(--Background);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loadMore {
  background-color: var(--Background);
  color: var(--Highlight);
  cursor: pointer;

  border: none;
  box-shadow: none;

  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}
